@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap&subset=latin-ext');
@import '../variables';

html {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *, *::after, *::before {
    box-sizing: border-box;
  }
}

h1, h2, h3, p {
  margin: 0;
}

@mixin contentName {
  cursor: default;
}

@mixin flexible($display, $content, $items, $direction, $wrap) {
  display: $display;
  justify-content: $content;
  align-items: $items;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin sideContent {
  .side-content {
    @include flexible(flex, null, center, column, null);
    position: absolute;
    left: 0;
    bottom: 0;

    .page-bar {
      margin: 15px 0;
      @include widthHeight(6px, 300px);

      &:before {
        position: absolute;
        content: '';
        @include widthHeight(4px, 100px);
      }

      .icons {
        a {
          svg {
            path {
            }
          }
        }
      }
    }

    .icons {
      margin-top: 20px;
      @include flexible(flex, null, null, column, null);
    }
  }
}

.app-content {
  @include flexible(flex, center, center, column, null);
  @include widthHeight(null, 100vh);
  overflow: hidden;
  position: relative;

  .themes-button {
    @include flexible(flex, null, null, column, null);
    @include widthHeight(120px, 50px);
    position: fixed;
    z-index: 20;
    left: -50px;
    top: -20px;
    border-bottom-right-radius: 3px;
    transition: all 200ms ease-in-out;

    .themes-list {
      @include flexible(flex, null, null, null, null);
      @include widthHeight(null, 100%);
      padding: 4px;
      opacity: 0;
      transition: opacity 200ms ease-in;

      & > div {
        &:hover {
          background-color: lighten($text-color, 60%);
        }
      }

      .default-theme {
        @include widthHeight(100%, null);
        position: relative;
        margin-right: 3px;
        cursor: pointer;
        outline: none;

        &:after {
          content: '';
          position: absolute;
          @include widthHeight(100%, 50%);
          border: 1px solid lighten(#373A36, 25%);
          background: linear-gradient(to right, #EAF1FB 0%, #EAF1FB 33%, #FDF4EC 33%, #FDF4EC 66%, #BDCADA 66%, #BDCADA 100%);
        }

        p {
          font-size: 14px;
          position: absolute;
          bottom: 3px;
          left: 4px;
        }
      }

      .vintage-theme {
        position: relative;
        margin-left: 3px;
        @include widthHeight(100%, null);
        cursor: pointer;
        outline: none;

        &:after {
          content: '';
          position: absolute;
          @include widthHeight(100%, 50%);
          border: 1px solid lighten(#373A36, 25%);
          background: linear-gradient(to right, #E6E2DD 0%, #E6E2DD 33%, #373A36 33%, #373A36 66%, #D48166 66%, #D48166 100%);
        }

        p {
          font-size: 14px;
          position: absolute;
          bottom: 3px;
          left: 4px;
        }
      }
    }

    &--title {
      small {
        position: absolute;
        right: 6px;
        bottom: 6px;
        transition: all 200ms ease-in-out;
      }
    }

    &:hover {
      left: 0;
      top: 0;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

      small {
        display: none;
      }

      .themes-list {
        opacity: 1;
      }
    }
  }

  .helper-info {
    visibility: hidden;
    position: absolute;
    @include widthHeight(calc(100% - 40px), null);
    margin: 20px;
    top: -190px;
    left: 0;
    opacity: 0.95;
    border-radius: 4px;
    z-index: 15;
    animation: hideMe 8s alternate;

    @keyframes hideMe {
      0% {
        visibility: hidden;
        top: -190px;
      }
      10% {
        visibility: visible;
        top: 0;
      }
      90% {
        visibility: visible;
        top: 0;
      }
      100% {
        visibility: hidden;
        top: -190px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      @include widthHeight(0, 100%);
      left: 0;
      top: 0;
      border-radius: inherit;
      z-index: -1;
      animation: fillBackground 7.2s linear forwards;

      @keyframes fillBackground {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
    }

    &--text {
      color: $text-color;
      font-weight: 100;
      font-size: 2em;
      text-align: center;
      padding: 40px;
    }

    .hide {
      padding: 10px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      text-align: center;
      transition: background-color ease-in-out 100ms;
      cursor: pointer;
      outline: none;
    }
  }

  .menu-desktop {
    visibility: hidden;
    transition: all 300ms ease-in-out;
    @include widthHeight(350px, 100vh);
    transform: translateX(350px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    & + div > div {
      transition: width 300ms ease-in-out;
      border-radius: 10px;
    }
  }

  .home-container {
    @include widthHeight(null, 100%);

    .content--name {
      @include contentName;
      font-size: 20em;
      left: -18px;
      top: -40px;

      @media (max-width: 900px) {
        font-size: 13em;
        left: -11px;
        top: -30px;
      }
    }

    @include sideContent;

    .hero-content {
      max-width: 470px;
      position: relative;
      top: 12%;
      left: 5%;
      z-index: 5;
      transition: left ease-in 200ms;

      @media (max-width: 1200px) {
        left: 20%;
      }

      h1 {
        font-size: 3.2em;

        span {
          font-size: 1.3em;
        }
      }
    }

    .home-logo {
      position: relative;
      left: -10%;
      z-index: 1;

      @media (max-width: 900px) {
        left: -32%;
      }
    }
  }

  .portfolio-container {
    height: 100%;
    overflow: hidden;

    .content {
      @media (max-width: 1600px) {
        padding: 40px 80px 40px 120px;
      }

      .author {
        @media (max-width: 1600px) {
          left: -80px;
        }
      }
    }

    .row {
      display: block;

      .home-button {
        @media (max-width: 1600px) {
          right: -60px;
        }
      }

      .hamburger-menu {
        @media (max-width: 1600px) {
          right: -60px;
        }
      }
    }

    .content--name {
      @include contentName;
      font-size: 16em;
      left: -14px;
      top: -32px;

      @media (max-width: 900px) {
        font-size: 7em;
        left: -6px;
        top: -14px;
      }
    }

    @include sideContent;

    .side-content {
      @media (max-width: 1600px) {
        left: -80px;
      }
    }

    .page-bar {
      &:before {
        top: 130px;
      }
    }

    .col-100 {
      @include widthHeight(100%, 100%);
      padding: 40px;
      overflow: hidden;

      .card-mover-left {
        @include widthHeight(30px, 30px);
        display: none;
        position: absolute;
        left: -40px;
        top: 50%;
        cursor: pointer;
        animation: arrowPulse alternate 500ms infinite;
        outline: transparent;
        @media (max-width: 1600px) {
          display: unset;
        }
      }

      .card-mover-right {
        @include widthHeight(30px, 30px);
        display: none;
        outline: transparent;
        position: absolute;
        right: -50px;
        cursor: pointer;
        top: 50%;
        animation: arrowPulse alternate 500ms infinite;
        @media (max-width: 1600px) {
          display: unset;
        }
      }

      @keyframes arrowPulse {
        from {
          transform: rotate(45deg) scale(1);
        }
        to {
          transform: rotate(45deg) scale(1.2);
        }
      }

      @media (max-width: 1600px) {
        padding: 40px 40px 40px 0;
      }

      .card-wrapper {
        @include widthHeight(1520px, null);
        @include flexible(flex, null, null, null, wrap);
        position: relative;
        transition: left 300ms ease-in-out;
        @media (min-width: 1600px) {
          left: 0;
        }

        @media (max-width: 1200px) {
          width: 1350px;
        }
        @media (max-width: 900px) {
          width: 1160px;
        }

        .portfolio-card {
          @include widthHeight(calc(290px - 60px), 300px);
          margin: 20px 25px;
          background-color: transparent;

          &:hover {
            .portfolio-card--inner {
              transform: rotate3d(-1, 1, 0, 180deg);

              &__back {
                visibility: visible;
              }
            }
          }

          .portfolio-card--inner {
            position: relative;
            @include widthHeight(100%, 100%);
            transition: transform ease 500ms;
            transform-style: preserve-3d;
            border-radius: 3px;
            perspective: 1000px;

            @mixin __front__back {
              position: absolute;
              @include widthHeight(100%, 100%);
              backface-visibility: hidden;
              border-radius: 3px;
            }

            &__front {
              @include __front__back;
              padding: 20px;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);

              &-title {
                font-size: 20px;
                text-align: center;
              }

              &-image {
                @include widthHeight(100%, 100px);
                background-color: white;
                margin: 10px 0;
                border-radius: 3px;

                img {
                  @include widthHeight(100%, 100%);
                  border-radius: 3px;
                }

                & + div {
                  @include flexible(flex, null, null, null, wrap);
                  text-align: center;
                }
              }

              &-technologies {
                @include widthHeight(50%, null);
                font-size: 16px;
                padding: 4px 0;
              }
            }

            &__back {
              @include __front__back;
              transform: rotate3d(-1, 1, 0, 180deg);
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              transition: visibility 500ms ease-in-out;
              visibility: hidden;

              &-title {
                padding: 15px;
                font-size: 16px;
              }

              &-description {
                padding: 0 15px;
                font-size: 14px;
                line-height: 1.35;
              }

              &-technologies {
                padding: 0 15px;
                font-size: 12px;
              }

              .flex-helper {
                @include widthHeight(null, calc(100% - (46px)));
                @include flexible(flex, space-between, null, column, null);

                .portfolio-buttons {
                  @include flexible(flex, space-between, center, null, null);
                  @include widthHeight(100%, 30px);
                  color: $text-color;
                  border-bottom-left-radius: 3px;
                  border-bottom-right-radius: 3px;

                  a {
                    @include widthHeight(50%, null);
                    text-align: center;
                    text-decoration: none;
                    color: inherit;
                    padding: 5px 15px;
                    margin: 2px;
                    border-radius: 4px;
                    transition: background-color 200ms ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .contact-container {
    @include widthHeight(null, 100%);
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;

    @include sideContent;

    .copyrights {
      position: absolute;
      bottom: 10px;
      left: 40px;
      opacity: 0.5;
    }

    .my-email {
      position: absolute;
      bottom: 10px;
      right: 40px;
      opacity: 0.5;
    }

    .content--name {
      @include contentName;
      font-size: 16em;
      left: -16px;
      top: -34px;

      @media (max-width: 900px) {
        font-size: 8em;
        left: -6px;
        top: -16px;
      }
    }

    .page-bar {
      &:before {
        top: 233px;
      }
    }

    .home-button {
      background-color: $first-main-color;
    }

    .contact-content {
      @include widthHeight(100%, 100%);
      @include flexible(flex, center, center, column, null);

      .form-before-element {
        position: absolute;

        &:after {
          content: '';
          @include widthHeight(140px, 140px);
          border-radius: 50%;
          position: absolute;
          left: -70px;
          bottom: -70px;
          z-index: 0;

          @media (max-width: 900px) {
            @include widthHeight(60px, 60px);
            right: -30px;
            left: unset;
            bottom: -30px;
          }
        }
      }

      .form-wrapper {
        position: relative;
        @include widthHeight(500px, 450px);
        @include flexible(flex, center, center, null, null);
        border-radius: 3px;
        z-index: 5;

        @media (max-width: 900px) {
          width: 430px;
        }

        &:before {
          transition: background-color ease-in-out 300ms;
          content: '';
          @include widthHeight(120px, 120px);
          border-radius: 50%;
          position: absolute;
          right: -50px;
          top: -50px;
          z-index: 0;
        }

        &--text {
          position: absolute;
          color: $text-color;
          top: -48px;
          left: 0;
          font-size: 56px;
        }

        .custom-form {
          padding: 20px;
          @include widthHeight(100%, 100%);
          @include flexible(flex, null, null, column, null);

          input, textarea {
            display: block;
            @include widthHeight(100%, null);
            border-radius: 3px;
            margin-top: 8px;
            font-size: 14px;
            outline: none;
            padding: 12px;
          }

          input {
            @include widthHeight(null, 40px);
          }

          textarea {
            @include widthHeight(null, 145px);
            resize: none;
          }

          label {
            margin-bottom: 20px;
          }

          .form-button {
            padding: 0.4em 3em;
            margin: auto;
            border-radius: 3px;
            font-size: 20px;
            transition: background-color 100ms ease-in-out;
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }

  .content {
    @include widthHeight(null, 100%);
    padding: 40px;
    position: relative;

    .row {
      @include flexible(flex, null, null, null, null);
      @include widthHeight(null, 100%);

      position: relative;

      .about {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;

        text-decoration: none;
        font-weight: 700;
        outline: none;

        &:before {
          transition: all ease-in-out 200ms;
          @include widthHeight(60px, 30px);
          left: -25px;
          cursor: default;
          bottom: -12px;
          content: '';
          position: absolute;
          z-index: -1;
        }

        &:hover, &:focus {
          &:before {
            @include widthHeight(70px, 40px);
            left: -10px;
            bottom: -11px;
          }
        }
      }

      .col-60 {
        @include widthHeight(60%, 100%);
        @include flexible(flex, center, center, null, null);
      }

      .col-40 {
        @include widthHeight(40%, 100%);
        @include flexible(flex, center, center, null, null);
      }
    }


    &--name {
      position: absolute;
    }

    .author {
      position: absolute;
      font-weight: 700;
      font-size: 1.2em;
    }

    .hamburger-menu {
      @include widthHeight(34px, 20px);
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      outline: none;

      .hamburger-menu--stripes {
        @include widthHeight(34px, 3px);
        position: relative;
        top: 0;
        right: 0;

        &:before {
          @include widthHeight(22px, 3px);
          transition: right 300ms ease-in-out;
          position: absolute;
          content: '';
          right: 0;
          top: 8px;
        }

        &:after {
          @include widthHeight(14px, 3px);
          transition: right 300ms ease-in-out;
          position: absolute;
          content: '';
          right: 0;
          top: 16px;
        }
      }

      &:hover, &:focus {
        .hamburger-menu--stripes {
          &:before {
            right: 12px;
          }

          &:after {
            right: 20px;
          }
        }
      }
    }
  }

  .menu-desktop {
    &--content {
      @include widthHeight(null, 100%);
      @include flexible(flex, space-between, center, column, null);

      &__top {
        @include flexible(flex, space-between, center, null, null);
        @include widthHeight(100%, null);
        padding: 20px;

        .menu-title {
          font-size: 2em;
        }

        .hamburger-menu {
          @include widthHeight(35px, 35px);
          cursor: pointer;
          transition: transform ease-in-out 300ms;
          transform: rotate(0);

          &--cross {
            @include widthHeight(35px, 5px);
            position: relative;
            top: 14px;
            transform: rotate(45deg);

            &:after {
              content: '';
              @include widthHeight(35px, 5px);
              position: absolute;
              top: 0;
              transform: rotate(90deg);
            }
          }

          &:hover, &:focus {
            transform: rotate(360deg);
          }
        }
      }

      &__middle {
        @include widthHeight(100%, 50%);
        padding: 20px 0;

        .pager {
          @include widthHeight(100%, 100%);
          @include flexible(flex, space-around, null, column, null);
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            @include widthHeight(100%, null);
            padding: 5px 0;

            a {
              @include widthHeight(100%, null);
              display: block;
              background-color: transparent;
              color: $text-color;
              padding: 20px 0;
              border: none;
              font-size: 36px;
              border-radius: 0;
              font-weight: 700;
              text-decoration: none;
              text-align: center;
            }
          }
        }
      }

      &__bottom {
        @include widthHeight(100%, null);
        padding: 20px;
        @include flexible(flex, space-around, null, null, null);
      }
    }
  }
}

// icons hover
a {
  &:hover {
    svg path {
      fill: darken($icons-color, 10%);
    }
  }
}

// buttons
.btn {
  background-color: $second-main-color;
  border: 1px solid $border-color;
  border-radius: 3px;
  color: $text-color;
  transition: background-color ease-in-out 100ms;
  cursor: pointer;
  outline: none;

  &.button-portfolio {
    margin-top: 1em;
    padding: 0.6em 3.5em;
    font-size: 1.5em;
  }

  &:hover, &:focus {
    background-color: lighten($second-main-color, 5%);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  }
}

.home-button {
  @include flexible(flex, center, center, null, null);
  @include widthHeight(40px, 40px);
  background-color: $second-main-color;
  border-radius: 50%;
  border: 1px solid $border-color;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  outline: none;

  &:hover, &:focus {
    border-radius: 0;
    transform: rotate(45deg);
  }
}

.wrapper svg {
  @include widthHeight(400px, 100%);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(180deg);
  z-index: -1;
}

input::placeholder, textarea::placeholder {
  opacity: 0.5;
}

// IOS - Safari fix for inputs zoom
@media (max-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select.focus,
  textarea,
  select:focus,
  textarea {
    font-size: 16px;
  }
}

// Loading spinner
.loader {
  @include widthHeight(1em, 1em);
  color: darken($first-main-color, 10%);
  font-size: 25px;
  margin: 100px auto;
  z-index: 5;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load 1.3s infinite linear;
  animation: load 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}