$first-main-color: #EAF1FB;
$second-main-color: #FDF4EC;
$third-main-color: #BDCADA;
$text-color: #2B2B29;
$content-name-color: #FFFFFF;
$button-name-color: $content-name-color;
$border-color: #D9D9D9;
$icons-color: #8FB1CE;

@mixin contentTextProps {
  color: $first-main-color;
}


.thank-you-page.theme-default {
  background-color: $third-main-color;

  .thank-you-page--container {
    background-color: $second-main-color;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);

    &__content {

      h2 {
        color: $text-color;
      }

      h1 {
        color: $text-color;
      }
    }

    &__button {
      color: $text-color;
      background-color: $first-main-color;
      border: 1px solid $border-color;

      &:hover, &:focus {
        background-color: lighten($first-main-color, 5%);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
      }
    }

    &:before {
      background-color: $first-main-color;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    }

    &:after {
      background-color: $first-main-color;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    }
  }

  .thank-you-page--message {
    @include contentTextProps;
  }

  .thank-you-page--sent {
    @include contentTextProps;
  }
}
