$first-main-color: #EAF1FB;
$second-main-color: #FDF4EC;
$third-main-color: #BDCADA;
$text-color: #2B2B29;
$content-name-color: #FFFFFF;
$button-name-color: $content-name-color;
$border-color: #D9D9D9;
$icons-color: #8FB1CE;