@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap&subset=latin-ext');
@import '_variables.scss';

html {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $third-main-color;

  *, *::after, *::before {
    box-sizing: border-box;
  }
}

h1, h2, h3, p {
  margin: 0;
}

@mixin sideContent {
  .side-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;

    .page-bar {
      margin: 15px 0;
      height: 300px;
      width: 6px;
      border: 1px solid $border-color;
      background-color: $content-name-color;

      &:before {
        position: absolute;
        content: '';
        background-color: $text-color;
        width: 4px;
        height: 100px;
      }
    }

    .icons {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
  }
}

.app-content {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  .menu-desktop {
    visibility: hidden;
    transition: all 300ms ease-in-out;
    height: 100vh;
    width: 350px;
    transform: translateX(350px);
    background-color: $second-main-color;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    box-shadow: -6px 0 20px rgba(0, 0, 0, 0.25);
  }

  .component-wrapper-shadow {
    box-shadow: 0 0 40px rgba(97, 97, 97, 0.5);
    position: relative;

    .helper-info {
      position: absolute;
      top: -15%;
      left: 0;

      &--text {
        color: $second-main-color;
        font-weight: 100;
        font-size: 2.8em;

        @media(max-width: 900px) {
          font-size: 2em;
        }
      }

      & + div {
        transition: width 300ms ease-in-out;
      }
    }
  }

  .home-container {
    background: linear-gradient(to right, $first-main-color 75%, $second-main-color 25%);
    height: 100%;

    .content--name {
      color: $content-name-color;
      font-size: 20em;
      left: -20px;
      top: -68px;

      @media (max-width: 900px) {
        font-size: 13em;
        left: -11px;
        top: -43px;
      }
    }

    @include sideContent;

    .hero-content {
      max-width: 470px;
      position: relative;
      top: 12%;
      left: 5%;
      z-index: 5;

      @media (max-width: 900px) {
        left: 20%;
      }

      h1 {
        font-size: 3.2em;
        color: $text-color;

        span {
          font-size: 1.3em;
        }
      }
    }

    .home-logo {
      position: relative;
      left: -10%;
      z-index: 1;

      @media (max-width: 900px) {
        left: -32%;
      }
    }
  }

  .portfolio-container {
    background-color: $first-main-color;
    height: 100%;

    .content {
      @media (max-width: 1600px) {
        padding: 40px 80px 40px 120px;
      }

      .author {
        @media (max-width: 1600px) {
          left: -80px;
        }
      }
    }

    .row {
      display: block;

      .home-button {
        @media (max-width: 1600px) {
          right: -40px;
        }
      }

      .hamburger-menu {
        @media (max-width: 1600px) {
          right: -40px;
        }
      }
    }

    .content--name {
      color: $content-name-color;
      font-size: 16em;
      left: -16px;
      top: -54px;
      cursor: default;

      @media (max-width: 900px) {
        font-size: 7em;
        left: -6px;
        top: -22px;
      }
    }

    @include sideContent;

    .side-content {
      @media (max-width: 1600px) {
        left: -80px;
      }
    }

    .page-bar {
      &:before {
        top: 130px;
      }
    }

    .col-100 {
      width: 100%;
      height: 100%;
      padding: 40px;
      overflow: hidden;

      .card-mover-left {
        display: none;
        position: absolute;
        left: -40px;
        top: 50%;
        width: 30px;
        height: 30px;
        border-left: 4px solid $text-color;
        border-bottom: 4px solid $text-color;
        cursor: pointer;
        animation: arrowPulse alternate 500ms infinite;
        @media (max-width: 1600px) {
          display: unset;
        }
      }

      .card-mover-right {
        display: none;
        position: absolute;
        width: 30px;
        height: 30px;
        border-right: 4px solid $text-color;
        border-top: 4px solid $text-color;
        right: -50px;
        cursor: pointer;
        top: 50%;
        animation: arrowPulse alternate 500ms infinite;
        @media (max-width: 1600px) {
          display: unset;
        }
      }

      @keyframes arrowPulse {
        from {
          transform: rotate(45deg) scale(1);
        }
        to {
          transform: rotate(45deg) scale(1.2);
        }
      }

      @media (max-width: 1600px) {
        padding: 40px 40px 40px 0;
      }

      .card-wrapper {
        width: 1520px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        transition: left 300ms ease-in-out;
        @media (min-width: 1600px) {
          left: 0;
        }

        @media (max-width: 1200px) {
          width: 1350px;
        }
        @media (max-width: 900px) {
          width: 1160px;
        }

        .portfolio-card {
          width: calc(290px - 60px);
          margin: 25px;
          height: 300px;
          background-color: transparent;

          &:hover {
            .portfolio-card--inner {
              transform: rotate3d(-1, 1, 0, 180deg);

              &__back {
                visibility: visible;
              }
            }
          }

          .portfolio-card--inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform ease 500ms;
            transform-style: preserve-3d;
            border-radius: 3px;
            perspective: 1000px;


            @mixin __front__back {
              position: absolute;
              width: 100%;
              height: 100%;
              backface-visibility: hidden;
              border-radius: 3px;
              color: $text-color;
            }

            &__front {
              @include __front__back;
              background: linear-gradient(0deg, $second-main-color 60%, $first-main-color 50%, $first-main-color 60%);
              padding: 20px;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);

              &-title {
                font-size: 20px;
                text-align: center;
              }

              &-image {
                width: 100%;
                height: 100px;
                background-color: white;
                margin: 10px 0;
              }

              &--technologies {
                font-size: 16px;
              }
            }

            &__back {
              @include __front__back;

              background-color: $second-main-color;
              transform: rotate3d(-1, 1, 0, 180deg);
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              transition: visibility 500ms ease-in-out;
              visibility: hidden;

              &-title {
                padding: 15px;
                font-size: 16px;
              }

              &-description {
                padding: 0 15px;
                font-size: 14px;
              }

              &-technologies {
                padding: 0 15px;
                font-size: 12px;
              }

              .flex-helper {
                height: calc(100% - (48px));
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .portfolio-buttons {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;
                  height: 30px;
                  color: $text-color;
                  background-color: $first-main-color;
                  border-bottom-left-radius: 3px;
                  border-bottom-right-radius: 3px;

                  a {
                    text-align: center;
                    text-decoration: none;
                    color: inherit;
                    padding: 5px 15px;
                    width: 50%;
                    transition: background-color 200ms ease-in-out;

                    &:hover {
                      background-color: darken($first-main-color, 10%);
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }

  .contact-container {
    position: relative;
    padding-bottom: 40px;
    background: linear-gradient(to bottom, $second-main-color 95%, $first-main-color 25%);
    height: 100%;

    @include sideContent;

    .copyrights {
      position: absolute;
      bottom: 10px;
      left: 40px;
      opacity: 0.5;
    }

    .content--name {
      color: $content-name-color;
      font-size: 16em;
      left: -16px;
      top: -54px;
      cursor: default;

      @media (max-width: 900px) {
        font-size: 8em;
        left: -6px;
        top: -29px;
      }
    }

    .page-bar {
      &:before {
        top: 233px;
      }
    }

    .home-button {
      background-color: $first-main-color;
    }

    .contact-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .form-before-element {
        position: absolute;

        &:after {
          content: '';
          width: 140px;
          height: 140px;
          border-radius: 50%;
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
          background-color: $first-main-color;
          position: absolute;
          left: -70px;
          bottom: -70px;
          z-index: 0;

          @media (max-width: 900px) {
            width: 60px;
            height: 60px;
            right: -30px;
            left: unset;
            bottom: -30px;
          }
        }
      }

      .form-wrapper {
        background: linear-gradient(42deg, $second-main-color 50%, $first-main-color 50%, $first-main-color 61%);
        position: relative;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        height: 450px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        z-index: 5;

        @media (max-width: 900px) {
          width: 430px;
        }

        &:before {
          transition: background-color ease-in-out 300ms;

          content: '';
          width: 120px;
          height: 120px;
          border-radius: 50%;
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
          background-color: $second-main-color;
          position: absolute;
          right: -50px;
          top: -50px;
          z-index: 0;
        }

        &--text {
          position: absolute;
          color: $text-color;
          top: -52px;
          left: 0;
          font-size: 56px;
        }

        .custom-form {
          padding: 20px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          input, textarea {
            display: block;
            width: 100%;
            border: 1px solid $border-color;
            border-radius: 3px;

            &::placeholder {
              font-size: 16px;
              opacity: 0.5;
            }
          }

          input {
            height: 40px;
            border-color: $border-color;
            padding: 12px;
            font-size: 16px;
            color: $text-color
          }

          textarea {
            border-color: $border-color;
            resize: none;
            height: 145px;
            padding: 12px;
            font-size: 14px;
            color: $text-color
          }

          label {
            margin-bottom: 20px;
          }

          .form-button {
            width: 200px;
            height: 46px;
            margin: auto;
            background-color: $first-main-color;
            border-radius: 3px;
            color: $text-color;
            font-size: 20px;
            border: 1px solid $border-color;
            transition: background-color 200ms ease-in-out;
            cursor: pointer;

            &:hover {
              background-color: darken($first-main-color, 2%);
            }
          }
        }
      }
    }
  }
}

.menu-desktop {
  &--content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $first-main-color;
      width: 100%;
      padding: 20px;

      .hamburger-menu {
        cursor: pointer;
        width: 35px;
        height: 35px;
        transition: transform ease-in-out 300ms;
        transform: rotate(0);

        &--cross {
          position: relative;
          top: 14px;
          width: 35px;
          height: 5px;
          transform: rotate(45deg);
          background-color: $text-color;

          &:after {
            position: absolute;
            content: '';
            top: 0;
            width: 35px;
            height: 5px;
            background-color: $text-color;
            transform: rotate(90deg);
          }
        }

        &:hover, &:focus {
          transform: rotate(360deg);
        }
      }
    }

    &__middle {
      width: 100%;
      padding: 20px;

      .pager {
        width: 100%;
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        flex-direction: column;

        li {
          width: 100%;

          a {
            width: 100%;
            display: block;
            background-color: transparent;
            color: black;
            padding: 20px 0;
            border: none;
            font-size: 36px;
            border-radius: 0;
            font-weight: 700;
            text-decoration: none;
            text-align: center;

            &:hover, &:focus {
              background-color: $first-main-color;
            }
          }
        }
      }
    }

    &__bottom {
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: space-around;
      background-color: $first-main-color;
    }
  }
}

.content {
  padding: 40px;
  height: 100%;
  position: relative;

  &--name {
    position: absolute;
  }

  .author {
    position: absolute;
    font-weight: 700;
    font-size: 1.2em;
    color: $text-color;
  }

  .hamburger-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    width: 34px;
    cursor: pointer;

    .hamburger-menu--stripes {
      position: relative;
      top: 0;
      right: 0;
      width: 34px;
      height: 3px;
      background-color: $text-color;

      &:before {
        transition: right 300ms ease-in-out;
        position: absolute;
        content: '';
        right: 0;
        top: 8px;
        width: 22px;
        height: 3px;
        background-color: $text-color;
      }

      &:after {
        transition: right 300ms ease-in-out;
        position: absolute;
        content: '';
        right: 0;
        top: 16px;
        width: 14px;
        height: 3px;
        background-color: $text-color;
      }
    }

    &:hover, &:focus {
      .hamburger-menu--stripes {
        &:before {
          right: 12px;
        }

        &:after {
          right: 20px;
        }
      }
    }
  }

  .about {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;

    text-decoration: none;
    font-weight: 700;
    color: $text-color;

    &:before {
      transition: all ease-in-out 200ms;
      width: 60px;
      height: 30px;
      left: -25px;
      cursor: default;
      bottom: -12px;
      content: '';
      background-color: $first-main-color;
      position: absolute;
      z-index: -1;
    }

    &:hover, &:focus {
      &:before {
        width: 70px;
        height: 40px;
        left: -10px;
        bottom: -11px;
      }
    }
  }

  .row {
    display: flex;
    height: 100%;
    position: relative;

    .col-60 {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .col-40 {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// icons hover
a {

  &:hover {
    svg path {
      fill: darken($icons-color, 10%);
    }
  }
}

// buttons
.btn {
  background-color: $third-main-color;
  border: none;
  border-radius: 3px;
  color: $button-name-color;
  transition: background-color ease-in-out 200ms;
  cursor: pointer;

  &.button-portfolio {
    margin-top: 1em;
    padding: 0.6em 3.5em;
    font-size: 1.5em;
  }

  &:hover, &:focus {
    background-color: darken($third-main-color, 10%);
  }
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $second-main-color;
  border-radius: 50%;
  border: 1px solid $border-color;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    border-radius: 0;
    transform: rotate(45deg);
  }
}

// Animation for component focus
.helper-info + div > div:focus::before {
  position: absolute;
  content: '';
  top: -50px;
  left: -50px;
  width: 50px;
  height: 50px;
  border: 5px solid #fef4ec;
  border-right: none;
  border-bottom: none;
  opacity: 0.8;

  animation: mainFocusTop infinite alternate 600ms;
}

.helper-info + div > div:focus::after {
  position: absolute;
  content: '';
  top: -50px;
  right: -50px;
  width: 50px;
  height: 50px;
  border: 5px solid #fef4ec;
  border-left: none;
  border-bottom: none;
  opacity: 0.8;

  animation: mainFocusBottom infinite alternate 600ms;
}

@keyframes mainFocusBottom {
  from {
    top: -50px;
    right: -50px;
  }
  to {
    top: -25px;
    right: -25px;
  }
}

@keyframes mainFocusTop {
  from {
    top: -50px;
    left: -50px;
  }
  to {
    top: -25px;
    left: -25px;
  }
}