@import './variables';

@mixin flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin contentTextProps {
  position: absolute;
  color: $first-main-color;
  font-size: 14em;
  z-index: -1;
}

body {
  *, *::after, *::before {
    box-sizing: border-box;
  }
}

.thank-you-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  @include flexCentered;

  &--container {
    position: relative;
    width: 450px;
    height: 280px;
    background-color: $second-main-color;
    padding: 40px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    margin: 10px;

    @media (max-width: 400px) {
      height: 300px;
      width: 100%;
      padding: 20px;
    }

    &__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        position: absolute;
        top: -48px;
        opacity: 0.8;
        color: $text-color;
        left: 0;
        font-size: 3.5em;
      }

      h1 {
        font-size: 1.8em;
        color: $text-color;
        text-align: center;
        font-weight: 500;
      }

    }

    &__button {
      @include flexCentered;
      text-decoration: none;
      color: $text-color;
      width: 60%;
      height: 50px;
      font-size: 1.5em;
      background-color: $first-main-color;
      border: 1px solid $border-color;
      border-radius: 3px;
      margin: auto auto 0;
      transition: all 100ms ease-in-out;

      &:hover, &:focus {
        background-color: lighten($first-main-color, 5%);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
      }
    }

    &:before {
      content: '';
      position: absolute;
      background-color: $first-main-color;
      border-radius: 30px;
      width: 120px;
      height: 120px;
      left: -40px;
      bottom: -40px;
      z-index: -1;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      background-color: $first-main-color;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      top: -40px;
      right: -40px;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    }
  }

  &--message {
    @include contentTextProps;
    top: -76px;
    left: -13px;

    @media (max-width: 1015px) {
      font-size: 10em;
      top: -52px;
    }

    @media (max-width: 720px) {
      font-size: 6em;
      top: -30px;
      left: -6px;
    }

    @media (max-width: 460px) {
      font-size: 4em;
      top: -18px;
    }
  }

  &--sent {
    @include contentTextProps;
    bottom: 0;
    right: 0;
    line-height: 0.8;
    overflow: hidden;
    padding: 0;

    @media (max-width: 1015px) {
      font-size: 10em;
    }

    @media (max-width: 720px) {
      font-size: 6em;
    }
    @media (max-width: 460px) {
      font-size: 4em;
    }
  }
}
